.container .top .features img{
    width: 16px;
    height: 16px;
    display: inline;
    margin-bottom: -4px;
    background-color: transparent;
}

.container .top .features p{
    display: inline-block;
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color:#647df9 ;
    
}
.detalis p{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    width: 100%;
}
.detalis p{
    font-size: 21px;
    font-weight: 500;
}
.container{
    max-width: 1090px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
.container .cart{
    width: calc(33%-30px);
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0 10px;
    padding: 15px 30px 30px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);   
}
.container .cart .top .top-box{
height: 130px;
background-color: red;
color: #fff;
padding: 12px 0 0 0;
clip-path: polygon(0 0 ,100% 0 , 100% 53% , 49% 100% , 0 53%);
}
.container .cart .top .top-box .basic {
    font-size: 27px;
    font-weight: 40;
    margin-bottom: 10px;

}
.container .cart .top .top-box  .price-box  span{
    font-size: 15px;
}
.container .cart .top .top-box  .price-box .main{
    font-size: 45px;

}
.container .cart .top .features .feature p{
    font-size: 17px;
    
}
.container .cart .top .features .feature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.container .cart .top .features .feature::before {
    content: "";
    width: 100%;
    height: 1px;
    position: absolute;
    background-color: #434040;
    margin-top: -50px;
}
.container .cart button{
    border: none;
    outline: none;
    height: 35px;
    margin-top: 15px;
    width: 100%;
    color: #fff;
    background-color: red;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius: 3px;
    display: block;
    transition: all 0.3s ease;
}
.container .cart button:hover{
    filter: brightness(90%);
}
.container .one .top .top-box,
.container  .one button{
    background: #14eb6e;
}
.container .two .top .top-box,
.container  .two button{
    background: #e87130;
}
.container .three .top .top-box,
.container  .three button{
    background: #11BCC3;
}

@media (max-width:1000px){
    .container {
        display: flex;
        flex-wrap: wrap;
        width: calc(50% -20);
        margin-bottom: 20px;
        justify-content: center;
        align-items: center;
        
    }
    .container .cart{
        width: calc(50% -20);
        margin-bottom: 30px;
        
    }
}

@media (max-width:715px){
    .container .cart{
        width: 100%;
        margin-bottom: 20px;
    }
}


